<ion-view cache-view="false" class="has-header">
   
    <div class="bar item-input-inset">
        <button class="button button-clear" ng-click="updateShowDelete()">
            Bookings
        </button>

        <button class="button button-clear" ng-click="redirectTo()">
            <i class="icon ion-plus-round"></i>
        </button>
    </div>

    <ion-content class="has-header">

        <style>
            a {
                text-decoration: none;
            }

            .fontColor {
                color: #144869;
            }

            .minWidth {
                min-width: 124px;
            }
        </style>

        <ion-list >

            <ion-item>
                <p>test</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
